<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0px" fxLayoutGap.xs="0">
  <div class="item-container" fxFlex="20%">
    <app-case-card [title]="'Benefits Verification'" [value]="bv.length"></app-case-card>
  </div>
  <div class="item-container" fxFlex="20%">
    <app-case-card [title]="'Prior Authorization'" [value]="pa.length"></app-case-card>
  </div>
  <div class="item-container" fxFlex="20%">
    <app-case-card [title]="'Prescription Referral'" [value]="pr.length"></app-case-card>
  </div>
  <div class="item-container" fxFlex="20%">
    <app-case-card [title]="'PAP'" [value]="pap.length"></app-case-card>
  </div>
  <div class="item-container" fxFlex="20%">
    <app-case-card [title]="'Copay'" [value]="copay.length"></app-case-card>
  </div>
</div>
